:root {
    --brown: brown;
    --light_green: lightgreen;
    --light_purple: rgb(173, 2, 173);
}

*{
    font-size: 1vw;
}

.build{
    /* background-color: var(--brown); */
    background-color: var(--brown);
}
.attack{
    /* background-color: var(--light_green); */
    background-color: var(--light_green);

}
.magic{
    /* background-color: var(--light_purple); */
    background-color: var(--light_purple);

}

hr{
    width: 50%;
}